// col-xl-# ( ≥1200px) (min-width: 1200px)
@include media-breakpoint-up(xl) {
  .header--nav {
    flex: 0 0 75%;

    max-width: 75%;
  }
}

// col-lg-# ( ≥992px) (min-width: 992px)
@include media-breakpoint-up(lg) {}

@media (min-width: 992px) and (max-width: 1199px) {
  .header--logo {
    flex: 0 0 20%;

    max-width: 20%;
  }

  .header--phone {
    flex: 0 0 22.41%;

    max-width: 22.41%;
  }

  .header--social {
    flex: 0 0 19.53%;

    max-width: 19.53%;
  }

  .header--lang {
    flex: 0 0 13.81%;

    max-width: 13.81%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .header--button {
    flex: 0 0 24.25%;

    max-width: 24.25%;
    padding-right: 0;
    padding-left: 5px;

    .header--button__admission {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .header--nav {
    flex: 0 0 93.75%;

    max-width: 93.75%;
  }

  .header--search {
    position: relative;

    flex: 0 0 6.25%;

    max-width: 6.25%;
    padding-right: 0;
    padding-left: 0;

    input {
      // padding-left: 6px;
    }

    form {
      position: absolute;
      z-index: 4;
      top: 50%;
      right: 0;

      width: auto;
      // left: 0;
      height: 40px;
      margin-top: -20px;

      transition: all 0.5s;

      &:before {
        transition: all 0.3s;
      }
    }

    .btn-searchsubmit {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      display: none;

      width: 0;
      padding-right: 6px;
      padding-left: 6px;

      transition: all 0.5s;

      opacity: 0;
      border-radius: 0 4px 4px 0;
    }

    &.header--search__mobile {
      form {
        &:before {
          opacity: 0;
        }

      }

      .search-input {
        padding-left: 6px;
      }

      .btn-searchsubmit {
        opacity: 1;
        // display: inline-block;
      }
    }
  }

  .home-slider {
    margin-bottom: 12vh;
  }

  .home-slider--searchform {
    padding-top: 30vh;

    .searchform--tabs {
      padding-right: 0;
      padding-left: 0;
    }

    .searchform--tabs,
    .searchform--content {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .howtoproceed-item--read {
    p:before {
      display: none;
    }
  }
  .page-title {
    font-size: 30px;
  }
  footer .footer--social {
    justify-content: space-around;
  }
}

// col-md-# ( ≥768px)
@include media-breakpoint-down(md) {}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    &:before {
      position: absolute;
      z-index: 0;
      top: 100px;
      right: 0;
      left: 0;

      display: block;

      height: 70px;

      content: '';

      background-color: #f4f4f4;
    }

    .container {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;

      >.row {
        margin-right: 0;
        margin-left: 0;

      }
    }
  }

  .header--logo,
  .header--phone,
  .header--button,
  .header--mobswitch {
    height: 100px;
  }

  .header--lang,
  .header--social,
  .header--search {
    height: 70px;
  }

  .header--logo {
    flex: 0 0 30%;
    order: 1;

    max-width: 30%;
  }

  .header--phone {
    flex: 0 0 32%;
    order: 2;

    max-width: 32%;
  }

  .header--button {
    flex: 0 0 21%;
    order: 3;

    max-width: 21%;

    .header--button__admission {
      flex-wrap: wrap;

      height: auto;
      padding-top: 10px;
      padding-right: 0;
      padding-bottom: 10px;
      padding-left: 0;

      word-break: break-all;

      background-color: #6a7c8a;

      font-size: 15px;
      font-weight: 300;

      overflow-wrap: break-word;

      span {
        display: block;
      }
    }

    .ico {
      display: none;
    }

  }

  .header--mobswitch {
    display: flex;
    align-content: center;
    align-items: center;
    flex: 0 0 13%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    order: 4;

    max-width: 13%;

    .btn--mobswitch {
      width: 28px;
      height: 26px;

      border: 0;
      border-radius: 0;
      outline: none;
      background-color: transparent;
      background-image: url(../img/ico/ico--mobswitch.png#spriteimage);

      font-size: 0;
    }
  }

  .header--lang {
    flex: 0 0 20%;
    order: 5;

    max-width: 20%;
    margin-left: 43%;

    #select-box,
    #select-button,
    #selected-value,
    .option {
      height: 40px;
    }

    #options {
      top: 40px;
    }
  }

  .header--social {
    flex: 0 0 33%;
    justify-content: flex-start;
    order: 6;

    max-width: 33%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header--search {
    position: relative;
    position: absolute;
    top: -70px;
    left: 0;

    flex: 0 0 43%;
    order: 1;

    max-width: 43%;
  }

  .header--nav {
    flex: 0 0 100%;
    order: 2;

    max-width: 100%;
    height: auto;

    ul {
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      width: calc(100% - 28px);
      padding-right: 0;
      padding-left: 0;
    }

    li a {
      padding: 18px 7px 15px;

      color: #242028;

      font-size: 15px;
    }
  }

  .home-slider {
    margin-bottom: 7vw;
  }

  .home-slider--searchform {
    padding-top: 18vw;

    .searchform--content {
      margin-right: 0;
      margin-left: 0;

      h4 {
        margin: 0 auto 40px -15px;
      }

      form {
        padding: 0;
      }

      button,
      select {
        width: calc(50% - 12px);
        // width: 50%;
        margin-bottom: 20px;

      }
    }
  }

  .werits {
    margin-bottom: 20px;

    &.werits--news {
      margin-bottom: 0;
    }
  }

  .howtoservices-item--read p:before {
    display: none;
  }

  .article--content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .article-slider {
    float: none;
    width: 100%;
    margin-left: 0;
    order: 777;
  }

  footer {
    .footer--nav {
      padding: 160px 0 40px;

      background-position: 0 60px;
    }

    .footer--order {
      h6 {
        font-size: 15px;
      }

      form {

        input,
        button {
          width: 33%;
          margin-bottom: 20px;
        }

        input {
          width: 32.7%;

          &[name="name"] {
            order: 1;
          }

          &[name="phone"] {
            order: 2;
          }

          &[name="email"] {
            order: 3;
          }
        }

        textarea {
          order: 4;

          width: 66%;
          height: 49px;
          margin-bottom: 20px;

        }

        button {
          order: 5;
        }
      }
    }
    .page-title {
      font-size: 28px;
    }
    .footer--copyright,
    .footer--social,
    .footer--share {
      height: 240px;

      p {
        padding-left: 0;
      }
    }

    .footer--share {
      padding: 60px 0;

      .footer--share__share {
        width: 100%;
        margin-bottom: 8px;
      }

    }
  }
}

// col-sm-# ( ≥576px)
@include media-breakpoint-down(sm) {}

// col-# ( <575.5px)
@include media-breakpoint-down(xs) {}

@media (min-width: 320px) and (max-width: 767px) {
  .offset-sm-0,
  .offset-xs-0 {
    margin-left: 0;
  }

  .header--phone {
    flex: 0 0 57%;
    order: 1;

    max-width: 57%;
    padding-right: 5px;
    padding-left: 5px;

    a {
      font-size: 16px;

      &:before {
        margin-right: 5px;
      }
    }
  }

  .header--button {
    flex: 0 0 43%;
    order: 2;

    max-width: 43%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 5px;

    .header--button__admission {
      flex-wrap: wrap;

      padding-top: 5px;
      padding-right: 0;
      padding-bottom: 5px;
      padding-left: 0;

      font-size: 14px;
      font-weight: 300;

      i {
        display: none;
      }

      span {
        display: block;
      }
    }
  }

  .header--logo {
    flex: 0 0 60%;
    order: 3;

    max-width: 60%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .header--mobswitch {
    display: flex;
    align-content: center;
    align-items: center;
    flex: 0 0 40%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    order: 4;

    max-width: 40%;
    height: 100px;
    padding-right: 10px;
    padding-left: 5px;

    .btn--mobswitch {
      width: 28px;
      height: 26px;

      border: 0;
      border-radius: 0;
      outline: none;
      background-color: transparent;
      background-image: url(../img/ico/ico--mobswitch.png#spriteimage);

      font-size: 0;

      span {
        display: none;
      }
    }
  }

  .header--search {
    display: none;
    flex: 0 0 100%;
    order: 1;

    max-width: 100%;

    input {
      border-radius: 4px;
    }
  }

  .header--lang {
    display: none;
    flex: 0 0 40%;
    order: 5;

    max-width: 40%;
  }

  .header--social {
    display: none;
    flex: 0 0 58%;
    order: 6;

    max-width: 58%;

    a {
      margin: 0;
    }
  }

  .header--nav {
    display: none;
    flex: 0 0 100%;
    order: 2;

    max-width: 100%;

    ul {}

    li {
      display: block;

      width: 100%;
    }
  }

  .menu-expanded {
    header {
      position: relative;
    }

    .header--logo {
      display: none;
    }

    .header--mobswitch {
      position: relative;

      flex: 0 0 100%;

      width: 100%;
      max-width: 100%;
      height: 100px;
      padding-right: 15px;
      padding-left: 15px;

      &:before {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        left: 0;

        display: block;

        width: auto;
        width: 100%;
        height: 180px;

        content: '';

        background-color: #f7f7f7;
      }
    }

    .btn--mobswitch {
      // position: relative;
      z-index: 4;

      text-align: left;


      span {
        position: absolute;
        right: 10px;
        left: 10px;

        display: block;

        padding-left: 5px;

        color: #252525;

        font-size: 15px;
        font-weight: 300;
        line-height: 2.27;

        i {
          position: relative;
          top: 2px;

          margin-right: 10px;
        }
      }

    }

    .header--search {
      position: absolute;
      z-index: 4;
      top: -10px;
      right: 0;
      left: 0;

      display: block;

      width: 100%;
      padding: 0;

      border-radius: 4px;
      background-color: #f7f7f7;
    }

    .header--lang {
      position: absolute;
      z-index: 4;
      top: 200px;
      left: 15px;

      display: block;

      padding-right: 0;
      padding-left: 0;

      #select-box {
        position: relative;
        z-index: 5;
      }

      .option {
        z-index: 6
      }

      #option-bg {
        z-index: 5;
      }
    }

    .header--social {
      position: absolute;
      z-index: 4;
      top: 200px;
      right: 0;

      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      height: 30px;
      padding-right: 15px;
      padding-left: 10px;
    }

    .header--nav {
      position: absolute;
      z-index: 4;
      top: 80px;
      right: 0;
      left: 0;

      display: flex;

      &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        right: -15px;
        bottom: -10px;
        left: -15px;

        display: block;

        content: '';

        background-color: #f7f7f7;
      }

      ul {
        width: 100%;
      }

      li {
        a {
          justify-content: flex-start;

          padding: 10px 0;

          text-align: left;

          border-bottom: 0;

          font-size: 16px;

          &:hover {
            border-bottom: 0;
          }
        }

        &.menu-item-has-children {
          a {
            position: relative;

            &:after {
              position: absolute;
              top: 50%;
              right: 0;

              display: block;

              width: 4px;
              height: 9px;
              margin-top: -4px;

              content: '';

              background-image: url('../img/ico/ico-submenu--active.png#spriteimg');

            }
          }

          // current
          &.menu--show-submenu {
            a {
              &:after {
                transform: rotate(-90deg) scaleX(-1);
              }
            }
          }
        }

        // show childrens
        &.menu--show-submenu,
        &.current-menu-item {
          position: relative;

          &:before {
            position: absolute;
            top: 0;
            right: -15px;
            bottom: 0;
            left: -15px;

            display: block;

            content: '';

            background-color: #607d8b;
          }

          a {
            color: #ffffff;
          }
        }

        &.current-menu-item {
          &:before {
            background-color: rgba(96, 125, 139, 0.8);
          }
        }

        &.menu--show-submenu {
          >.sub-menu {
            position: relative;
            z-index: 5;

            display: block;

            a {
              padding-left: 20px;

              &:after {
                right: auto;
                left: 5px;

                transform: rotate(90deg) scaleX(-1);
              }
            }
          }
        }

        // current
        &.current-menu-item {
          &.menu-item-has-children {
            &:after {
              background-image: url('../img/ico/ico-submenu.png#spriteimg');
            }
          }
        }
      }
    }
  }

  .home-slider {
    height: 110vw;
    margin-bottom: 80vw;
  }

  .home-slider--searchform {
    padding-top: 50vw;
    padding-right: 1.5vw;
    padding-left: 1.5vw;

    .searchform--tab {
      width: 50%;
      padding-right: 5px;
      padding-left: 5px;
    }

    .searchform--content {
      position: relative;
      z-index: 2;

      margin-right: 0;
      margin-left: 0;
      padding-top: 26px;
      padding-bottom: 26px;

      h4 {
        margin-right: 15px;
        margin-bottom: 30px;

        font-size: 18px;
        font-weight: normal;

        span {
          padding: 12px;
        }
      }

      form {
        padding-right: 0;
        padding-left: 0;
      }

      select,
      button {
        width: 100%;
        margin: 0 0 10px;

      }

      p {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .home--blocktitle {
    margin-bottom: 40px;

    font-size: 28px;
  }

  .container--stats {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home--stats {
    width: 33%;
    margin-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;

    font-size: 45px;

    span {
      font-size: 16px;
    }
  }

  .home--rate {
    margin-bottom: 25px;

    &.home--rate__succes {
      margin-bottom: 0;
    }
  }

  .container--werits {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .werits {
    margin-bottom: 20px;

    &.werits--news {
      margin-bottom: 0;
    }
  }

  .container-howtoproceed {
    padding-top: 40px;
  }

  .howtolegalized-question,
  .howtoproceed-question,
  .howtoservices-question {
    margin-bottom: 40px;
  }

  .howtolegalized-title,
  .howtoproceed-title,
  .services--title {
    margin-bottom: 40px;

    line-height: 1.1;
  }

  .howtolegalized-item,
  .howtoproceed-item,
  .howtoservices-item {
    width: 50%;
    margin-bottom: 30px;
    padding-top: 110px;
  }

  .howtoproceed-item--complete p:before,
  .howtoproceed-item--pay p:before {
    display: none;
  }

  .container-toprank {
    padding-top: 40px;
    padding-bottom: 40px;

    .toprank-title {
      margin-bottom: 40px;

      font-size: 28px;
      line-height: 1.1;
    }

    .owl-carousel .owl-stage-outer {
      margin-bottom: 40px;
    }
  }
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .article--content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .article-slider {
    float: none;
    width: 100%;
    margin-left: 0;
    order: 777;
  }
  .container-relativecities {
    padding-top: 40px;
    padding-bottom: 40px;
    .relativecities-title {
      margin-bottom: 40px;
      line-height: 1.1;
    }
  }

  footer {
    .footer--widget {
      padding-top: 0;
      padding-bottom: 0;

      h6 {
        position: relative;

        margin-bottom: 15px;

        &:after {
          display: inline-block;

          width: 8px;
          height: 8px;
          margin-left: 10px;

          content: '';

          background-image: url(../img/ico/ico-footer-mobile-plus.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      ul {
        display: none;

        li {
          margin-bottom: 15px;
          // &:last-child {
          //   margin-bottom: 0;
          // }
        }
      }

      &.footer--widget__opened {
        h6 {
          &:after {
            background-image: url(../img/ico/ico-footer-mobile-minus.png);
          }
        }
      }

      &:nth-child(1) {
        padding-top: 40px;
      }

      &:nth-child(4) {
        margin-bottom: 25px;
      }

    }

    .footer--nav {
      padding: 140px 0 25px;

      background-position: 0 40px;

      ul {
        display: none;

        li {
          display: block;

          width: 100%;
          margin-bottom: 10px;

          a {
            display: block;

            width: 100%;
            padding: 5px 0;
          }
        }
      }

      .footer--nav__switcher {
        display: inline-block;

        margin-bottom: 10px;
        padding: 0;

        color: #ffffff;
        border: 0;
        border-radius: 0;
        outline: none;
        background-color: transparent;

        font-size: 16px;
        font-weight: 700;
        line-height: 1.25;

        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          background-color: transparent;
        }

        &:after {
          display: inline-block;

          width: 8px;
          height: 8px;
          margin-left: 10px;

          content: '';

          background-image: url(../img/ico/ico-footer-mobile-plus.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.footer--nav--opened {
        .footer--nav__switcher {
          &:after {
            background-image: url(../img/ico/ico-footer-mobile-minus.png);
          }
        }
      }

    }

    .footer--order {
      padding-top: 40px;
      padding-bottom: 40px;

      h6,
      .footer--order__subtitle {
        margin-bottom: 16px;

        line-height: 1.25;
      }

      form {

        input,
        button,
        textarea {
          width: 100%;
          margin-bottom: 10px;
        }

        input {
          &[name="name"] {
            order: 1;
          }

          &[name="phone"] {
            order: 2;
          }

          &[name="email"] {
            order: 3;
          }
        }

        textarea {
          order: 4;
        }

        button {
          order: 5;
        }
      }
    }

    .footer--copyright,
    .footer--share,
    .footer--social {
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .footer--copyright {
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

    .footer--share {
      justify-content: flex-start;

      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;

      .footer--share__share {
        max-width: calc(100%-15px);
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 0;
      }

      .footer--share__item {
        margin-right: 15px;
        margin-left: 0;
      }

    }

    .footer--social {
      justify-content: flex-start;

      a {
        margin-left: 0 15px 0 0;
      }
    }

    .footer--bankdetails {
      padding-top: 40px;
      padding-bottom: 40px;

      &:nth-child(1),
      &:nth-child(2) {
        padding-bottom: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        padding-top: 20px;
      }
    }
  }


  // .container {
  //   background-color: red;
  // }
  // .container-fluid {
  //   background-color: yellow;
  // }
  // .row {
  //   background-color: green;
  // }
  // body {
  //   * {
  //     background-color: blue;
  //   }
  // }


}
