@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";
@import "import/wordpress";

@import 'grid/bootstrap-grid';
@import 'import/modal';

@import 'plugins/selectric';

@import 'owl/owl.carousel';
@import 'owl/owl.theme.default';


body {
  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  font-family: $font-family-base;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;

  &.page-template-page-contract {
    article {
      margin-bottom: 60px;
    }
  }

  &.page-template-page-team {
    section {
      padding-bottom: 40px;
    }

    article {
      margin-bottom: 34px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;

  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
}

p,
pre {
  margin: 0 0 $small-spacing;
}

a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

.wrapper {
  position: relative;

  width: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}

.container {
  position: relative;
  // max-width: $width;
}

nav {
  ul {
    @extend .clearfix;

    li {
      display: inline-block;
    }
  }
}

.ico {
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;

  &.ico-apply {
    width: 18px;
    height: 18px;

    background-image: url(../img/ico/ico-apply.png#spriteimage);
  }

  &.ico-programs {
    width: 18px;
    height: 22px;

    background-image: url(../img/ico/ico-programs.png#spriteimage);
  }

  &.ico-cost {
    width: 26px;
    height: 20px;

    background-image: url(../img/ico/ico-cost.png#spriteimage);
  }

  &.ico-admission {
    display: inline-block;

    width: 22px;
    height: 20px;
    margin: 0 16px 0 0;

    background-image: url(../img/ico/ico-admission.png#spriteimage);

    :hover>& {
      background-image: url(../img/ico/ico-admission__hover.png#spriteimage);
    }
  }

  &.ico-eng,
  &.ico-ukr,
  &.ico-rus {
    zoom: 1;

    width: 21px;
    height: 15px;
    margin-right: 9px;

    vertical-align: middle;
  }

  &.ico-eng {
    background-image: url(../img/ico/ico-lang__eng.png#spriteimage);
  }

  &.ico-ukr {
    background-image: url(../img/ico/ico-lang__ukr.png#spriteimage);
  }

  &.ico-rus {
    background-image: url(../img/ico/ico-lang__rus.png#spriteimage);
  }

  &.ico-phone {
    width: 20px;
    height: 20px;

    background-image: url(../img/ico/ico-phone.png#spriteimage);
  }

  &.ico-search {
    width: 16px;
    height: 16px;

    background-image: url(../img/ico/ico-search.png#spriteimage);
  }

  &.ico-feedback {
    width: 18px;
    height: 14px;

    background-image: url(../img/ico/ico-feedback.png#spriteimage);
  }

  &.ico-whatsapp,
  &.ico-viber,
  &.ico-skype,
  &.ico-messenger,
  &.ico-facebook,
  &.ico-instagram {
    width: 22px;
    height: 22px;
  }

  &.ico-whatsapp {
    background-image: url(../img/ico/ico-whatsapp.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-whatsapp__hover.png#spriteimage);
    }
  }

  &.ico-viber {
    height: 24px;

    background-image: url(../img/ico/ico-viber.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-viber__hover.png#spriteimage);
    }
  }

  &.ico-skype {
    width: 23px;

    background-image: url(../img/ico/ico-skype.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-skype__hover.png#spriteimage);
    }
  }

  &.ico-messenger {
    background-image: url(../img/ico/ico-messenger.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-messenger__hover.png#spriteimage);
    }
  }

  &.ico-facebook {
    width: 11px;
    height: 20px;

    background-image: url(../img/ico/ico-facebook.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-facebook__hover.png#spriteimage);
    }
  }

  &.ico-instagram {
    background-image: url(../img/ico/ico-instagram.png#spriteimage);

    &:hover {
      background-image: url(../img/ico/ico-instagram__hover.png#spriteimage);
    }
  }

  &.ico-arrows {
    width: 28px;
    height: 16px;

    background-image: url(../img/ico/ico-arrows.png#spriteimage);
  }

  &.ico-download {
    width: 17px;
    height: 18px;

    background-image: url(../img/ico/ico-download.png#spriteimage);

    :hover>&,
    &:hover {
      background-image: url(../img/ico/ico-download__hover.png#spriteimage);
    }
  }

  &.ico-verified {
    width: 17px;
    height: 12px;

    background-image: url(../img/ico/ico-verified.png#spriteimage);
  }

  &.ico-close {
    width: 12px;
    height: 12px;

    background-image: url(../img/ico/ico-close.png#spriteimage);
  }

  &.ico-ourteam__fb {
    width: 10px;
    height: 18px;

    background-image: url(../img/ico/ourteam-fb.png#ourteamsprite);
  }

  &.ico-ourteam__inst {
    width: 18px;
    height: 18px;

    background-image: url(../img/ico/ourteam-inst.png#ourteamsprite);
  }

  &.ico-ourteam__lang {
    width: 18px;
    height: 18px;

    background-image: url(../img/ico/ourteam-lang.png#ourteamsprite);
  }

  &.ico-youtube__play {
    width: 40px;
    height: 46px;

    background-image: url(../img/ico/ico-youtube__play.png#spriteimage);
  }

  &.ico-price {
    width: 22px;
    height: 17px;

    background-image: url(../img/ico/ico-price.png#spriteimage);
  }

  &.ico-services {
    width: 22px;
    height: 20px;

    background-image: url(../img/ico/ico-services.png#spriteimage);
  }
}

.header--logo {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align-last: left;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
}

.header--phone {
  padding-right: 0;
  padding-left: 0;

  @extend .flex-center;

  a {
    text-decoration: none;

    color: #262028;

    font-size: 18px;
    line-height: 1.11;

    &:before {
      position: relative;
      top: 3px;

      margin-right: 10px;

      content: '';

      @extend .ico;
      @extend .ico-phone;
    }

    span {
      font-weight: 700;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.header--social {
  padding-right: 0;
  padding-left: 0;

  @extend .flex-center;

  a {
    position: relative;

    margin: 0 5px;

    font-size: 0;

    @extend .ico;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .header--social__whatsapp {
    @extend .ico-whatsapp;
  }

  .header--social__viber {
    @extend .ico-viber;

  }

  .header--social__skype {
    @extend .ico-skype;
  }

  .header--social__messenger {
    @extend .ico-messenger;
  }

  .header--social__facebook {
    @extend .ico-facebook;
  }

  .header--social__instagram {
    @extend .ico-instagram;
  }
}


.header--lang {
  @extend .flex-center;
  // form {
  //   overflow: hidden;

  //   user-select: none;
  //   transition: box-shadow 0.2s;
  //   position: relative;

  //   border: 1px solid #cbcbcb;
  //   border-radius: 3px;
  //   background: #ffffff;
  //   width: 118px;
  //   &:focus, &:hover {
  //     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  //   }
  //   &:after {
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     right: 12px;

  //     content: '▾';

  //     color: #bbbbbb;

  //     font-size: 14px;
  //     line-height: 40px;
  //   }
  // }
  // .ie form:after {
  //   display: none;
  // }

  // select {
  //   position: relative;
  //   z-index: 2;

  //   display: block;

  //   width: 100%;
  //   padding: 10px 10px 14px 12px;
  //   margin: 0;
  //   font-size: 15px;
  //   cursor: pointer;
  //   text-indent: 5px;
  //   text-overflow: '';
  //   color: $gray-dark;
  //   border: none;
  //   outline: none;
  //   background: transparent;
  //   background-image: none;

  //   appearance: none;
  //   &[multiple=multiple] {
  //     height: auto;

  //     transition: box-shadow 0.2s;

  //     border: 1px solid #ebebeb;
  //     border-radius: 3px;
  //     box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  //     &:hover {
  //       border-color: #cccccc;
  //       box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  //     }
  //   }
  //   option{

  //     &[disabled] {
  //       color: #eeeeee;
  //       border: none;
  //       text-shadow: none;
  //     }
  //   }
  //   &:-moz-focusring {
  //     color: transparent;
  //     text-shadow: 0 0 0 #888888;
  //   }
  //   &::-ms-expand {
  //     display: none;
  //   }
  // }
  .selectric-wrapper {
    width: 118px;
  }
}



.header--button {
  @extend .flex-center;

  .header--button__admission {
    width: 100%;

    color: #ffffff;
    background-color: $blue-gray;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;

    @extend .flex-center;

    &:hover {
      color: $gray-dark;
      background-color: #f7f7f7;
    }
  }


}

.header--dark {
  background-color: $blue-light;
  background-color: #f4f4f4ff;
}

.header--nav {
  li {
    a {
      padding: 22px 15px 19px;

      color: #262028;
      border-bottom: 3px solid transparent;

      font-weight: 300;
      line-height: 1.25;

      @extend .flex-center;
    }

    &.menu-active,
    &:hover {
      a {
        color: #607d8bff;
        border-bottom: 3px solid #607d8bff;
      }
    }
  }
}



.header--search {
  @extend .flex-center;

  form {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #ffffffff;

    &:before {
      position: absolute;
      top: 50%;
      left: 20px;

      margin-top: -8px;

      @extend .dblock;
      @extend .ico;
      @extend .ico-search;
    }
  }

  input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 50px;

    color: $black;
    background-color: transparent;

    font-size: 15px;
  }
}

.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 14px;
  font-weight: 300;

  a {
    color: #202020;
    color: $gray-dark;

    font-size: 14px;
    font-weight: 300;
    line-height: 3.29;
  }

  li {
    display: inline-block;

    padding-right: 18px;

    &.separator {
      position: relative;
      top: -2px;

      color: $gray;

      font-size: 10px;
    }

    &.item-current {
      color: $gray;
    }
  }
}

.position--bottom-right {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

section {
  padding: 0;

}

article {
  @extend .clearfix;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 26px;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    line-height: 1.2;
  }

  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.1;

  }

  h1 {
    font-size: 220%;
  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size: 180%;
  }

  h4 {
    font-size: 150%;
  }

  h5 {
    font-size: 140%;
  }

  h6 {
    font-size: 120%;
  }

  ul,
  ol {
    margin-bottom: 14px;
    padding-left: 28px;

    list-style-position: inside;

    li {
      margin-bottom: 14px;
    }
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  p {
    margin-bottom: 14px;

    line-height: 1.3;
  }

  img {
    border-radius: 4px;
  }
}

.looper {
  @extend .clearfix;
}

.page-title {
  margin-bottom: 30px;

  color: $gray-dark;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.btn-feedback {
  display: flex;

  width: 100%;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;

  @extend .flex-center;

  .ico {
    margin-right: 14px;
  }
}

.article-slider {
  float: right;

  width: calc(50% - 15px);
  margin-left: 30px;

  .owl-theme .owl-nav {
    position: absolute;
    z-index: 2;
    top: 50%;

    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 0;
    margin: -50px 0 0;
  }

  .owl-theme .owl-nav [class*=owl-] {
    width: 56px;
    height: 56px;
    margin: 0 30px;

    opacity: 0.9;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    outline: none;

    font-size: 50px;
    line-height: 0.1;

    span {
      position: relative;
      top: -3px;
      // margin-top: -10px;
    }

    &:hover {
      opacity: 0.9;
      border: 2px solid $blue-gray;
      background-color: $blue-gray;
    }
  }

  .owl-theme .owl-dots {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 40px;
    padding-bottom: 40px;

    .owl-dot {
      span {
        width: 16px;
        height: 16px;

        background-color: $blue-light;
      }

      &.active {
        span {
          background-color: $blue-gray;
        }
      }
    }
  }

  .item {
    position: relative;

    width: 100%;

    &:after {
      padding-bottom: 100%;

      content: "";

      @extend .dblock;
    }

    &.item--video {
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transition: $base-transition;

        opacity: 0.85;
        background-color: $gray-dark;

        @extend .dblock;
      }

      &:hover {
        &:before {
          opacity: 0.3;
        }
      }
    }

    .item--content {
      position: absolute;

      overflow: hidden;

      width: 100%;
      height: 100%;

      border-radius: 4px;
    }

    img {
      min-width: 100%;
      min-height: 100%;
    }

    .yt-descr {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      display: block;
      // background-color: red;

      height: 40px;
      padding: 10px;

      color: #f7f7f7;
      background-color: $gray-dark;

      font-size: 15px;
      font-weight: 300;
      line-height: 1.3;

      &:after {
        position: absolute;
        top: 0;
        right: -15px;

        @extend .dblock;
        @include triangle(40px 15px, $gray-dark, right);
      }
    }

    .yt-play {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;

      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      width: 120px;
      min-width: 50px;
      height: 120px;
      min-height: 50px;
      margin-top: -60px;
      margin-left: -60px;
      padding: 0;

      border: 1px solid $blue-light;
      border-radius: 50%;
      outline: none;
      background-color: transparent;

      .ico {
        position: relative;
        z-index: 3;

        margin: 0;
      }
    }
  }

  .article-slider--apply {
    display: block;

    width: 218px;
    height: 50px;
    margin: 0 auto 40px;

    text-align: center;

    color: #ffffff;
    border-radius: 3px;
    background-color: $blue-gray;

    font-size: 16px;
    font-weight: 300;
    line-height: 3;

    .ico-apply {
      position: relative;
      top: -14px;

      margin-right: 10px;
    }

    &:hover {
      background-color: #606060;
    }
  }

}

.university-programs {
  margin-top: 40px;
  margin-bottom: 80px;

  tr {
    &:hover {
      td {
        background-color: #f7f7f7;
      }
    }
  }

  th,
  td {
    padding: 10px 14px 16px;

    text-align: center;
  }

  th {
    color: #ffffff;
    border: 1px solid #fff;
    background-color: $blue-gray;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
  }

  td {
    color: $gray-dark;
    border: 1px solid #ebebeb;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.47;

    span {
      font-weight: bold;
    }

  }

  .ico-programs,
  .ico-cost {
    position: relative;
    top: 4px;

    margin-right: 14px;
  }

  .ico-programs {
    top: 6px;
  }

  a {
    color: $gray-dark;
  }
}

.container-color--bluelight {
  background-color: $blue-light;
}

.container-pagecontract {
  padding-top: 60px;

  .pagecontract-tabs {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 20px;
  }

  .pagecontract--tablinks {
    width: 170px;

    border: 1px solid #ebebeb;
    background-color: $blue-light;

    &:hover {
      box-shadow: $base-box-shadow;
    }

    &.pagecontract--tablinks__active {
      background-color: #ffffff;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .pagecontract-download {
    padding-right: 0;
  }

  .btn-download {
    width: 100%;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;

    .ico {
      margin-right: 14px;
    }
  }

  .pagecontract-tabcontent {
    display: none;

    margin-bottom: 60px;

    &.pagecontract-tabcontent__active {
      display: block;
    }
  }
}

.container-relativecities {
  padding-top: 60px;
  padding-bottom: 60px;

  .relativecities-title {
    margin-bottom: 60px;

    text-align: center;

    color: $gray-dark;

    font-size: 30px;
    font-weight: 700;
    line-height: 0.67;
  }

  .relativecities-item {
    display: block;
    overflow: hidden;

    max-height: 330px;

    text-align: center;
    text-decoration: none;

    color: $gray-dark;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    display: block;
    overflow: hidden;

    min-width: 100%;
    height: 220px;
    margin-bottom: 25px;

    border-radius: 4px;
  }

  .relativecities--name {
    margin-bottom: 14px;

    color: $gray-dark;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
  }

  p {
    color: $gray-dark;

    font-size: 15px;
    font-weight: 300;
  }

  .owl-carousel .owl-stage-outer {
    margin-bottom: 60px;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0;
  }

  .owl-theme .owl-dots {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .owl-dot {
      span {
        width: 16px;
        height: 16px;

        background-color: #eee;
      }

      &.active {
        span {
          background-color: $blue-gray;
        }
      }
    }
  }
}

.container-toprank {
  padding-top: 60px;
  padding-bottom: 60px;

  .toprank-title {
    margin-bottom: 60px;

    text-align: center;

    color: $gray-dark;

    font-size: 30px;
    font-weight: 700;
    line-height: 0.67;
  }

  .toprank-item {
    display: block;
    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-align: center;
    text-decoration: none;

    color: $gray-dark;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    display: inline-block;
    overflow: hidden;

    max-width: 80%;
    height: 100px;
    margin-bottom: 20px;
  }

  .toprank--name {
    margin-bottom: 14px;

    color: $gray-dark;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.47;
  }

  .owl-carousel .owl-stage-outer {
    margin-bottom: 60px;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0;
  }

  .owl-theme .owl-dots {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .owl-dot {
      span {
        width: 16px;
        height: 16px;

        background-color: $blue-light;
      }

      &.active {
        span {
          background-color: $blue-gray;
        }
      }
    }
  }
}

.container-howtoproceed {
  padding-top: 80px;
}

.howtoproceed-title,
.howtolegalized-title,
.services--title {
  margin-bottom: 80px;

  text-align: center;

  color: $gray-dark;

  font-size: 30px;
  font-weight: 700;
  line-height: 0.67;
}

.howtoproceed-item,
.howtolegalized-item,
.howtoservices-item {
  position: relative;

  margin-bottom: 80px;
  padding-top: 116px;

  text-align: center;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    width: 80%;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;

    &:before {
      position: absolute;
      top: 37px;
      right: -14px;

      content: '';

      @extend .ico;
      @extend .ico-arrows;
    }
  }

  .ico-verified {
    position: relative;
    top: -12px;

    margin: 0 5px;
  }

  .ico-close {
    position: relative;
    top: -12px;

    margin: 0 5px 0 0;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    margin-left: -45px;

    content: '';

    background-repeat: no-repeat;
    background-position: center;
  }

  &:before {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover {
    &:before {
      background-color: $blue-gray;
    }
  }

  &.howtoproceed-item--choose {
    &:after {
      top: 32px;

      width: 28px;
      height: 28px;
      margin-left: -14px;

      background-image: url(../img/ico/howtoproceed-item--choose.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--choose__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--complete,
  &.howtolegalized-item--chooseservices,
  &.howtoservices-item--put {
    &:after {
      top: 27px;

      width: 27px;
      height: 34px;
      margin-left: -14px;

      background-image: url(../img/ico/howtoproceed-item--complete.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--complete__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--read,
  &.howtolegalized-item--read,
  &.howtoservices-item--read {
    &:after {
      top: 29px;

      width: 26px;
      height: 34px;
      margin-left: -13px;

      background-image: url(../img/ico/howtoproceed-item--read.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--read__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--pay,
  &.howtolegalized-item--pay {
    &:after {
      top: 29px;

      width: 37px;
      height: 32px;
      margin-left: -17px;

      background-image: url(../img/ico/howtoproceed-item--pay.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--pay__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--apply {
    &:after {
      top: 32px;

      width: 40px;
      height: 26px;
      margin-left: -20px;

      background-image: url(../img/ico/howtoproceed-item--apply.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--apply__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--prepare {
    &:after {
      top: 29px;

      width: 38px;
      height: 33px;
      margin-left: -19px;

      background-image: url(../img/ico/howtoproceed-item--prepare.png#howtoproceed);
    }

    &:hover {
      &:after {
        background-image: url(../img/ico/howtoproceed-item--prepare__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--read,
  &.howtolegalized-item--download,
  &.howtolegalized-item--readpaper,
  &.howtolegalized-item--chooseservices,
  &.howtolegalized-item--signature,
  &.howtolegalized-item--scan,
  &.howtolegalized-item--complete,
  &.howtolegalized-item--pay,
  &.howtolegalized-item--expect {
    flex: 0 0 20%;

    max-width: 20%;
  }


  &.howtolegalized-item--download,
  &.howtoservices-item--download {
    &:after {
      top: 31px;

      width: 32px;
      height: 30px;
      margin-left: -16px;

      background-image: url(../img/ico/howtolegalized-item--download.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--download__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--readpaper {
    &:after {
      top: 28px;

      width: 43px;
      height: 34px;
      margin-left: -21px;

      background-image: url(../img/ico/howtolegalized-item--readpaper.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--readpaper__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--signature,
  &.howtoservices-item--signature {
    &:after {
      top: 29px;

      width: 32px;
      height: 32px;
      margin-left: -16px;

      background-image: url(../img/ico/howtolegalized-item--signature.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--signature__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--scan,
  &.howtoservices-item--print {
    &:after {
      top: 29px;

      width: 32px;
      height: 34px;
      margin-left: -16px;

      background-image: url(../img/ico/howtolegalized-item--scan.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--scan__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--complete {
    &:after {
      top: 30px;

      width: 32px;
      height: 32px;
      margin-left: -16px;

      background-image: url(../img/ico/howtolegalized-item--complete.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--complete__hover.png#howtoproceed);
      }
    }
  }

  &.howtolegalized-item--expect {
    &:after {
      top: 30px;

      width: 27px;
      height: 32px;
      margin-left: -13px;

      background-image: url(../img/ico/howtolegalized-item--expect.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtolegalized-item--expect__hover.png#howtoproceed);
      }
    }
  }

  &.howtoservices-item--legalize {
    &:after {
      top: 29px;

      width: 39px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/howtoservices-item--legalize.png#howtoproceed);
    }

    &:hover {
      &:after {
        // TODO: add hover icon
        // background-image: url(../img/ico/howtoservices-item--legalize__hover.png#howtoproceed);
      }
    }
  }

  &.howtoproceed-item--prepare,
  &.howtolegalized-item--signature,
  &.howtolegalized-item--expect {
    p {
      &:before {
        display: none;
      }
    }
  }
}

.howtoproceed-question,
.howtolegalized-question,
.howtoservices-question {
  margin-bottom: 80px;

  text-align: center;

  color: $gray-dark;

  font-size: 18px;
  font-weight: 300;
  line-height: 1.22;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.ourteam--item {
  position: relative;
  z-index: 1;

  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 30px;
  padding: 20px;

  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
  border-radius: 4px;

  font-size: 15px;
  font-weight: 300;

  &:before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px solid #ebebeb;
    border-radius: 4px;

    @extend .dblock;
  }

  &:hover {
    background-color: #f7f7f7;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 0 20px 16px 0;

    border-radius: 50%;
  }

  .ourteam--head {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    width: calc(100% - 120px);
    height: 100px;
  }

  .ourteam--name {
    margin-bottom: 4px;

    font-size: 17px;
    font-weight: 700;
  }

  .ourteam--post {
    color: #fff;

    font-size: 13px;
    font-weight: 400;

    li {
      display: inline-block;

      margin-right: 5px;
      padding: 0 5px;

      border-radius: 3px;

      line-height: 1.69;
    }

    .ourteam--color__lawyer {
      background-color: $blue-gray;
    }

    .ourteam--color__assistant {
      background-color: #ff7043;
    }

    .ourteam--color__leanding {
      background-color: #8bc34a;
    }
  }

  .ourteam--depart {
    margin: 0;

    color: $gray-dark;

    line-height: 1.47;
  }

  .ourteam--description {
    margin-bottom: 20px;

    p {
      color: $blue-dark;

      line-height: 1.47;
    }
  }

  .ourteam--phone,
  .ourteam--adress,
  .ourteam--email,
  .ourteam--lang {
    position: relative;

    padding-left: 30px;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      background-repeat: no-repeat;

      @extend .dblock;
    }
  }

  .ourteam--phone,
  .ourteam--adress,
  .ourteam--email {
    display: block;

    width: 100%;
    margin-bottom: 20px;

    color: #262028;

    line-height: 1.33;
  }

  .ourteam--phone,
  .ourteam--email {
    &:hover {
      opacity: 0.8;
    }
  }

  .ourteam--phone {
    &:before {
      width: 16px;
      height: 16px;
      margin-top: -8px;

      background-image: url(../img/ico/ourteam-phone.png#ourteamsprite);
    }

    span {
      font-weight: 700;
    }
  }

  .ourteam--adress {
    &:before {
      width: 12px;
      height: 18px;
      margin-top: -9px;

      background-image: url(../img/ico/ourteam-adress.png#ourteamsprite);
    }
  }

  .ourteam--email {
    margin-bottom: 35px;

    &:before {
      width: 16px;
      height: 13px;
      margin-top: -7px;

      background-image: url(../img/ico/ourteam-email.png#ourteamsprite);
    }
  }

  .ourteam--bottom {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-transform: uppercase;
  }

  .ourteam--fb,
  .ourteam--inst {
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    margin-right: 10px;

    i {
      position: absolute;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .ourteam--fb {
    width: 12px;
  }

  .ico-ourteam__lang {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.discount--subtitle {
  margin-bottom: 20px;
  padding-top: 30px;

  color: $gray-dark;

  font-size: 22px;
  font-weight: 700;
  line-height: 1;

  &.discount--subtitle__2 {
    padding-top: 60px;
  }
}

.discount--container {
  .discount--number {
    margin-bottom: 50px;
    padding-top: 20px;

    color: #eaeaea;

    font-size: 50px;
    font-weight: 700;
    line-height: 0.66;

    span {
      position: relative;
      top: -6px;

      display: inline-block;

      margin-left: 20px;
      padding: 0 5px;

      color: #fff;
      border-radius: 4px;

      font-size: 22px;
      font-weight: 700;
      line-height: 1.5;
    }

  }

  p {
    margin: 0;

    color: $gray-dark;

    font-size: 18px;
    font-weight: 300;

    span {
      display: block;

      font-size: 20px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}

.discount--item {
  position: relative;

  margin-bottom: 30px;
  padding-top: 120px;

  text-align: center;

  &:before,
  &:after {
    @extend .dblock;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 50%;

    width: 90px;
    height: 90px;
    margin-left: -45px;

    border-radius: 50%;
    background-color: #f7f7f7;
  }

  &:after {
    position: absolute;
    left: 50%;
  }

  p {
    margin: 0 auto;

    color: $gray-dark;

    font-size: $base-font-size;
    font-weight: 300;
    line-height: 1.38;

    &:before {
      position: absolute;
      top: 75px;
      right: -15px;

      content: '';

      @extend .ico;
      @extend .ico-arrows;
    }
  }

  &.discount--item_14,
  &.discount--item_24,
  &.discount--item_34,
  &.discount--item_44 {
    p {
      &:before {
        display: none;
      }
    }
  }

  &.discount--item_11 {
    &:after {
      top: 27px;

      width: 24px;
      height: 36px;
      margin-left: -12px;

      background-image: url(../img/ico/discount--item_11.png#discountsprite);
    }
  }

  &.discount--item_12 {
    &:after {
      top: 29px;

      width: 34px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_12.png#discountsprite);
    }
  }

  &.discount--item_13 {
    &:after {
      top: 32px;

      width: 31px;
      height: 30px;
      margin-left: -15px;

      background-image: url(../img/ico/discount--item_13.png#discountsprite);
    }
  }

  &.discount--item_14 {
    &:after {
      top: 31px;

      width: 28px;
      height: 30px;
      margin-left: -14px;

      background-image: url(../img/ico/discount--item_14.png#discountsprite);
    }
  }

  &.discount--item_21 {
    &:after {
      top: 28px;

      width: 27px;
      height: 34px;
      margin-left: -14px;

      background-image: url(../img/ico/discount--item_21.png#discountsprite);
    }
  }

  &.discount--item_22 {
    &:after {
      top: 29px;

      width: 37px;
      height: 32px;
      margin-left: -19px;

      background-image: url(../img/ico/discount--item_22.png#discountsprite);
    }
  }

  &.discount--item_23 {
    &:after {
      top: 28px;

      width: 28px;
      height: 32px;
      margin-left: -16px;

      background-image: url(../img/ico/discount--item_23.png#discountsprite);
    }
  }

  &.discount--item_24 {
    &:after {
      top: 28px;

      width: 38px;
      height: 34px;
      margin-left: -19px;

      background-image: url(../img/ico/discount--item_24.png#discountsprite);
    }
  }

  &.discount--item_31 {
    &:after {
      top: 27px;

      width: 37px;
      height: 34px;
      margin-left: -19px;

      background-image: url(../img/ico/discount--item_31.png#discountsprite);
    }
  }

  &.discount--item_32 {
    &:after {
      top: 28px;

      width: 30px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_32.png#discountsprite);
    }
  }

  &.discount--item_33 {
    &:after {
      top: 28px;

      width: 34px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_33.png#discountsprite);
    }
  }

  &.discount--item_34 {
    &:after {
      top: 29px;

      width: 32px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_34.png#discountsprite);
    }
  }

  &.discount--item_41 {
    &:after {
      top: 27px;

      width: 37px;
      height: 34px;
      margin-left: -19px;

      background-image: url(../img/ico/discount--item_41.png#discountsprite);
    }
  }

  &.discount--item_42 {
    &:after {
      top: 28px;

      width: 30px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_42.png#discountsprite);
    }
  }

  &.discount--item_43 {
    &:after {
      top: 28px;

      width: 34px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_43.png#discountsprite);
    }
  }

  &.discount--item_44 {
    &:after {
      top: 29px;

      width: 32px;
      height: 34px;
      margin-left: -17px;

      background-image: url(../img/ico/discount--item_44.png#discountsprite);
    }
  }
}

.discount--item_31,
.discount--item_32,
.discount--item_33,
.discount--item_34,
.discount--item_41,
.discount--item_42,
.discount--item_43,
.discount--item_44 {
  &:before {
    background-color: #fff;
  }
}

.discount--container_1 {
  .discount--number {
    span {
      background-color: #ff9800;
    }
  }

  p {
    span {
      color: #ff9800;
    }
  }
}

.discount--container_3 {
  .discount--number {
    span {
      background-color: #f04343;
    }
  }

  p {
    span {
      color: #f04343;
    }
  }
}

.discount--container_4 {
  .discount--number {
    span {
      background-color: #ff7043;
    }
  }

  p {
    span {
      color: #ff7043;
    }
  }
}

.discount--container_2,
.discount--item_21,
.discount--item_22,
.discount--item_23,
.discount--item_24,
.discount--item_41,
.discount--item_42,
.discount--item_43,
.discount--item_44,
.discount--container_4 {
  margin-bottom: 70px;
}

.discount--container_2 {
  .discount--number {
    span {
      background-color: #7cb342;
    }
  }

  p {
    span {
      color: #7cb342;
    }
  }
}

.service--item {
  position: relative;

  margin-bottom: 30px;
  padding: 35px 25px 70px;

  color: $blue-dark;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px solid $gray-light;
    border-radius: 4px;

    @extend .dblock;

  }

  &:hover {
    &:before {
      background-color: #f7f7f7;
    }
  }

  .service--image {
    width: 100%;
    height: 70px;
  }

  .service-title {
    margin-bottom: 18px;

    color: $gray-dark;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
  }

  .service--type {
    position: absolute;
    top: 28px;
    right: 30px;

    display: inline-block;

    padding: 3px 5px;

    color: #fff;
    border-radius: 4px;

    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;

    &.service--type__additional {
      background-color: $gray;
    }

    &.service--type__basic {
      background-color: $blue-gray;
    }

  }

  .service--payopt {
    position: absolute;
    right: 30px;
    bottom: 30px;

    display: block;

    width: 50%;

    text-align: right;

    li {
      display: inline-block;

      margin-left: 3px;
      padding: 2px 4px;

      color: $blue-dark;
      border-radius: 4px;
      background-color: $blue-light;

      font-size: 13px;
      font-weight: 300;
      line-height: 1.54;
    }
  }

  .service--price {
    position: absolute;
    bottom: 25px;
    left: 25px;

    padding-left: 36px;

    color: $gray-dark;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      margin-top: -8px;

      @extend .dblock;
      @extend .ico;
      @extend .ico-price;
    }

    span {
      font-size: $base-font-size;
      font-weight: 700;
    }
  }
}

.services--submit {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 70px;
  padding-top: 40px;

  text-align: center;

  .btn-services {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 15px 40px;

    color: #fff;

    font-size: $base-font-size;
    font-weight: 300;
    line-height: 1.25;
  }

  .ico-services {
    margin-right: 10px;
  }
}

.container--services {
  padding-top: 60px;
  // .howtoservices-item {
  //   &:hover {
  //     &:before {
  //       background-color: #fff;
  //     }
  //   }

  // }
  .howtoservices-item--legalize {
    p {
      &:before {
        display: none;
      }
    }
  }
}

footer {
  height: auto;

  background-color: $black;

  .container-border {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      right: 0;
      left: 0;

      display: block;

      height: 1px;

      content: '';

      background-color: $gray-dark;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  .footer--widget {
    padding-top: 60px;
    padding-bottom: 60px;

    color: $gray;

    font-size: 15px;
    font-weight: 300;

    h6 {
      margin-bottom: 20px;

      color: #ffffff;

      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
    }

    ul {
      li {
        margin-bottom: 12px;
      }

      a {
        color: $gray;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  .footer--nav {
    padding: 40px 0 40px 25%;

    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    background-position: 15px center;


    ul {
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      width: 100%;

      li {
        display: inline-block;

        a {
          padding-top: 20px;
          padding-bottom: 20px;

          color: #ffffff;
          border-bottom: 3px solid transparent;

          font-size: 16px;
          font-weight: 300;
          line-height: 1.25;
        }

        &:hover {
          a {
            color: $blue-gray;
            border-bottom: 3px solid $blue-gray;
          }
        }
      }
    }
  }

  .footer--order {
    padding-top: 60px;
    padding-bottom: 60px;

    h6 {
      margin-bottom: 20px;

      color: #ffffff;

      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
    }

    .footer--order__subtitle {
      margin-bottom: 30px;

      color: $gray;

      font-size: 15px;
      font-weight: 300;
      line-height: 2.27;
    }

    form {
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      input,
      textarea,
      button {
        border: 0;
        border-radius: 3px;
      }

      input,
      textarea {
        padding: 15px;

        color: $gray;
        background-color: $gray-dark;

        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
      }

      input,
      button {
        width: 24%;
        margin-bottom: 30px;

      }

      input {}

      button {
        padding: 15px;

        color: #ffffff;
        outline: none;
        background-color: $blue-gray;

        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;

        &:hover {
          background-color: $gray;
        }
      }

      textarea {
        width: 100%;
        height: 80px;
      }
    }
  }

  .footer--copyright,
  .footer--share,
  .footer--social {
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: 145px;
  }

  .footer--copyright {
    justify-content: flex-start;

    p {
      color: $gray;

      font-size: 15px;
      font-weight: 300;
      line-height: 1.33;
    }
  }

  .footer--share {
    justify-content: center;

    height: 145px;

    .footer--share__share {
      width: 124px;
      height: 38px;
      margin: 0 5px;

      background-color: #354d8b;
    }

    .footer--share__item {
      display: inline-block;

      width: 27px;
      height: 27px;
      margin: 0 2px;

      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;

      font-size: 0;

      &.footer--share__item_1 {
        background-image: url(../img/footer--share__item_1.png);
      }

      &.footer--share__item_2 {
        background-image: url(../img/footer--share__item_2.png);
      }

      &.footer--share__item_3 {
        background-image: url(../img/footer--share__item_3.png);
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .footer--social {
    justify-content: flex-end;

    height: 145px;
    padding-right: 0;
    padding-left: 0;

    a {
      position: relative;

      margin: 0 5px;

      font-size: 0;

      @extend .ico;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .footer--social__whatsapp {
      @extend .ico-whatsapp;
    }

    .footer--social__viber {
      @extend .ico-viber;
    }

    .footer--social__skype {
      @extend .ico-skype;
    }

    .footer--social__messenger {
      @extend .ico-messenger;
    }

    .footer--social__facebook {
      @extend .ico-facebook;
    }

    .footer--social__instagram {
      @extend .ico-instagram;
    }
  }

  .footer--bankdetails {
    padding-top: 60px;
    padding-bottom: 60px;

    p {
      margin: 0;

      color: $gray;

      font-size: 15px;
      font-weight: 300;
      line-height: 1.4;
    }
  }
}




@import "media";

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


@import "fonts/font_algerian";
@import "fonts/font_monotype";
@import "fonts/font_ubuntu";

@import "import/base64";
@import "import/print";
