@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";
@import "import/wordpress";

@import 'grid/bootstrap-grid';

@import 'plugins/selectric';


body {
  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  font-family: $font-family-base;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;

  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;
  // max-width: $width;
}
nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

.header--logo {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align-last: left;
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
}

.header--phone {
  padding-right: 0;
  padding-left: 0;

  @extend .flex-center;
  a {
    text-decoration: none;

    color: #262028;

    font-size: 18px;
    line-height: 1.11;
    &:before {
      position: relative;
      top: 3px;

      display: inline-block;

      width: 20px;
      height: 20px;
      margin-right: 10px;

      content: '';

      background-image: url(../img/ico-phone.png#spriteimage);
    }
    span {
      font-weight: 700;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.header--social {
  padding-right: 0;
  padding-left: 0;

  @extend .flex-center;
  a {
    position: relative;

    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0 5px;

    background-repeat: no-repeat;
    background-position: center;

    font-size: 0;
    &:first-child{
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .header--social__whatsapp {
    background-image: url(../img/ico-whatsapp.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-whatsapp.png#spriteimage);
    }
  }
  .header--social__viber {
    height: 24px;

    background-image: url(../img/ico-viber.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-viber.png#spriteimage);
    }
  }
  .header--social__skype {
    width: 23px;

    background-image: url(../img/ico-skype.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-skype.png#spriteimage);
    }
  }
  .header--social__messenger {
    background-image: url(../img/ico-messenger.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-messenger.png#spriteimage);
    }
  }
  .header--social__facebook {
    width: 11px;
    height: 20px;

    background-image: url(../img/ico-facebook.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-facebook.png#spriteimage);
    }
  }
  .header--social__instagram {
    background-image: url(../img/ico-instagram.png#spriteimage);
    &:hover {
      background-image: url(../img/ico-hover-instagram.png#spriteimage);
    }
  }
}


.header--lang {
  @extend .flex-center;
  // form {
  //   overflow: hidden;

  //   user-select: none;
  //   transition: box-shadow 0.2s;
  //   position: relative;

  //   border: 1px solid #cbcbcb;
  //   border-radius: 3px;
  //   background: #ffffff;
  //   width: 118px;
  //   &:focus, &:hover {
  //     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  //   }
  //   &:after {
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     right: 12px;

  //     content: '▾';

  //     color: #bbbbbb;

  //     font-size: 14px;
  //     line-height: 40px;
  //   }
  // }
  // .ie form:after {
  //   display: none;
  // }

  // select {
  //   position: relative;
  //   z-index: 2;

  //   display: block;

  //   width: 100%;
  //   padding: 10px 10px 14px 12px;
  //   margin: 0;
  //   font-size: 15px;
  //   cursor: pointer;
  //   text-indent: 5px;
  //   text-overflow: '';
  //   color: $gray-dark;
  //   border: none;
  //   outline: none;
  //   background: transparent;
  //   background-image: none;

  //   appearance: none;
  //   &[multiple=multiple] {
  //     height: auto;

  //     transition: box-shadow 0.2s;

  //     border: 1px solid #ebebeb;
  //     border-radius: 3px;
  //     box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  //     &:hover {
  //       border-color: #cccccc;
  //       box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  //     }
  //   }
  //   option{

  //     &[disabled] {
  //       color: #eeeeee;
  //       border: none;
  //       text-shadow: none;
  //     }
  //   }
  //   &:-moz-focusring {
  //     color: transparent;
  //     text-shadow: 0 0 0 #888888;
  //   }
  //   &::-ms-expand {
  //     display: none;
  //   }
  // }
  .selectric-wrapper {
    width: 118px;
  }
  .ico {
    display: inline-block;
    zoom: 1;

    width: 21px;
    height: 15px;
    margin-right: 9px;

    vertical-align: middle;

    background-repeat: no-repeat;
    // *display: inline;
    &.ico-eng {
      background-image: url(../img/ico-lang--eng.png#spriteimage);
    }
    &.ico-ukr {
      background-image: url(../img/ico-lang--ukr.png#spriteimage);
    }
    &.ico-rus {
      background-image: url(../img/ico-lang--rus.png#spriteimage);
    }
  }
}

.header--button {
  @extend .flex-center;
  .ico-admission {
    display: inline-block;

    width: 22px;
    height: 20px;
    margin: 0 16px 0 0;

    background-image: url(../img/ico-admission.png#spriteimage);
  }
  .header--button__admission {
    width: 100%;

    color: #ffffff;
    background-color: $blue-gray;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;

    @extend .flex-center;
    &:hover {
      color: $gray-dark;
      background-color: #f7f7f7;
      .ico-admission {
        background-image: url(../img/ico-admission--hover.png#spriteimage);
      }
    }
  }


}
.header--dark {
  background-color: $blue-light;
  background-color: #f4f4f4ff;
}
.header--nav {
  li {
    a {
      padding: 22px 15px 19px;

      color: #262028;
      border-bottom: 3px solid transparent;

      font-weight: 300;
      line-height: 1.25;

      @extend .flex-center;
    }
    &.menu-active,
    &:hover {
      a{
        color: #607d8bff;
        border-bottom: 3px solid #607d8bff;
      }
    }
  }
}

.header--search {
  @extend .flex-center;
	form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 50px;

    color: $black;
    background-color: #ffffffff;
    background-image: url(../img/ico-search.png);
    background-repeat: no-repeat;
    background-position: 20px center;

    font-size: 15px;
  }
}

.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 30px;
  a {
    display: inline-block;

    margin-right: 25px;

    color: #202020;

    font-size: 14px;
    font-weight: 300;
    line-height: 3.29;

    &.delimetr {

    }
    &:last-child {
      color: red;
    }
  }
}

section {
  padding: 0;
}
article {
  @extend .clearfix;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 26px;
  }
  h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
  }
  h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;

  }
  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 180%;
  }
  h4 {
    font-size: 150%;
  }
  h5 {
    font-size: 140%;
  }
  h6 {
    font-size: 120%;
  }
  ul,ol {
    margin-bottom: 14px;
    padding-left: 28px;

    list-style-position: inside;
    li {
      margin-bottom: 14px;
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

}
.looper {
  @extend .clearfix;
}

.page-title {
  margin-bottom: 30px;

  color: $gray-dark;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.article-slider {
  float: right;

  width: calc(50% - 15px);
  margin-left: 30px;

  border: 1px solid red;
}



footer {
  height: auto;

  background-color: $black;
  .container-border {
    position: relative;
    &:before,
    &:after{
      display: block;
      height: 1px;
      content: '';
      position: absolute;
      background-color: $gray-dark;
      left: 0;
      right: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  .footer--widget {
    padding-top: 60px;
    padding-bottom: 60px;

    color: $gray;

    font-size: 15px;
    font-weight: 300;
    h6 {
      margin-bottom: 20px;

      color: #ffffff;

      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
    }
    ul {
      li {
        margin-bottom: 12px;
      }
      a {
        color: $gray;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  .footer--nav {
    padding: 40px 0 40px 25%;

    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    background-position: 15px center;


    ul {
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      width: 100%;
      li {
        display: inline-block;
        a {
          padding-top: 20px;
          padding-bottom: 20px;

          color: #ffffff;
          border-bottom: 3px solid transparent;

          font-size: 16px;
          font-weight: 300;
          line-height: 1.25;
        }
        &:hover {
          a{
            color: $blue-gray;
            border-bottom: 3px solid $blue-gray;
          }
        }
      }
    }
  }

  .footer--order {
    padding-top: 60px;
    padding-bottom: 60px;
    h6 {
      margin-bottom: 20px;

      color: #ffffff;

      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
    }
    .footer--order__subtitle {
      margin-bottom: 30px;

      color: $gray;

      font-size: 15px;
      font-weight: 300;
      line-height: 2.27;
    }

    form {
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      input,
      textarea,
      button {
        border: 0;
        border-radius: 3px;
      }
      input,
      textarea {
        padding: 15px;

        color: $gray;
        background-color: $gray-dark;

        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
      }
      input,
      button {
        width: 24%;
        margin-bottom: 30px;

      }
      input {

      }

      button {
        padding: 15px;

        color: #ffffff;
        outline: none;
        background-color: $blue-gray;

        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        &:hover {
          background-color: $gray;
        }
      }

      textarea {
        width: 100%;
        height: 80px;
      }
    }
  }

  .footer--copyright,
  .footer--share,
  .footer--social  {
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: 145px;
  }
  .footer--copyright {
    justify-content: flex-start;
    p {
      color: $gray;

      font-size: 15px;
      font-weight: 300;
      line-height: 1.33;
    }
  }

  .footer--share {
    justify-content: center;

    height: 145px;
    .footer--share__share {
      width: 124px;
      height: 38px;

      background-color: #354d8b;
      margin: 0 5px;
    }
    .footer--share__item {
      margin: 0 2px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
      &.footer--share__item_1 {
        background-image: url(../img/footer--share__item_1.png);
      }
      &.footer--share__item_2 {
        background-image: url(../img/footer--share__item_2.png);
      }
      &.footer--share__item_3 {
        background-image: url(../img/footer--share__item_3.png);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .footer--social {
    justify-content: flex-end;

    height: 145px;
    padding-right: 0;
    padding-left: 0;
    a {
      position: relative;

      display: inline-block;

      width: 22px;
      height: 22px;
      margin: 0 5px;

      background-repeat: no-repeat;
      background-position: center;

      font-size: 0;
      &:first-child{
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .footer--social__whatsapp {
      background-image: url(../img/ico-whatsapp.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-whatsapp.png#spriteimage);
      }
    }
    .footer--social__viber {
      height: 24px;

      background-image: url(../img/ico-viber.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-viber.png#spriteimage);
      }
    }
    .footer--social__skype {
      width: 23px;

      background-image: url(../img/ico-skype.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-skype.png#spriteimage);
      }
    }
    .footer--social__messenger {
      background-image: url(../img/ico-messenger.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-messenger.png#spriteimage);
      }
    }
    .footer--social__facebook {
      width: 11px;
      height: 20px;

      background-image: url(../img/ico-facebook.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-facebook.png#spriteimage);
      }
    }
    .footer--social__instagram {
      background-image: url(../img/ico-instagram.png#spriteimage);
      &:hover {
        background-image: url(../img/ico-hover-instagram.png#spriteimage);
      }
    }
  }


  .footer--bankdetails {
    padding-top: 60px;
    padding-bottom: 60px;
    p {
      color: $gray;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.4;
      margin: 0;
    }
  }
}






@import "media";

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


@import "fonts/font_algerian";
@import "fonts/font_monotype";
@import "fonts/font_ubuntu";

@import "import/base64";
@import "import/print";
