.button,
.btn,
input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding: .75em 1em;

  cursor: pointer;
  user-select: none;
  transition: $base-transition;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  color: #ffffff;
  border: none;
  border-radius: $base-border-radius;
  background-color: $action-color;

  font-family: $font-family-base;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;

  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: darken($action-color, 15%);
  }

  &:active {
    color: lighten($action-color, 15%);
  }

  &:disabled {
    cursor: not-allowed;

    opacity: .5;
  }

  &.btn-transparent {
    color: $gray-dark;
    background-color: transparent;
  }

  &.btn-blue {
    border: 1px solid $blue-gray;
    background-color: $blue-gray;

    &:hover {
      border: 1px solid $blue-dark;
      background-color: $blue-dark;
    }
  }

  &.btn-red {
    color: #ffffff;
    border: 1px solid $red;
    background-color: $red;

    &:hover,
    &:focus,
    &:active {
      color: $red;
      border: 1px solid $red;
      background-color: transparent;
    }
  }
}
