@font-face {
  font-family: 'Monotype Corsiva';
  src:  url('../fonts/hinted-MonotypeCorsiva.eot');
  src: local('Monotype Corsiva'), local('MonotypeCorsiva'),
      url('../fonts/hinted-MonotypeCorsiva.eot?#iefix') format('embedded-opentype'),
      url('../fonts/hinted-MonotypeCorsiva.woff2') format('woff2'),
      url('../fonts/hinted-MonotypeCorsiva.woff') format('woff'),
      url('../fonts/hinted-MonotypeCorsiva.ttf') format('truetype'),
      url('../fonts/hinted-MonotypeCorsiva.svg#MonotypeCorsiva') format('svg');
  font-weight: normal;
  font-style: italic;
}
