
@font-face {
  font-family: 'Algerian';
  src: url('../fonts/hinted-Algerian.eot');
  src: local('Algerian'),
      url('../fonts/hinted-Algerian.eot?#iefix') format('embedded-opentype'),
      url('../fonts/hinted-Algerian.woff2') format('woff2'),
      url('../fonts/hinted-Algerian.woff') format('woff'),
      url('../fonts/hinted-Algerian.ttf') format('truetype'),
      url('../fonts/hinted-Algerian.svg#Algerian') format('svg');
  font-weight: normal;
  font-style: normal;
}
